@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.odd-color-button {
  border-radius: 0;
}

.odd-color-grid {
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  height: 450px;
  width: 500px;
}

@include media-breakpoint-down(md) {
  .odd-color-grid {
    height: 350px;
    width: 400px;
  }
}

@include media-breakpoint-down(sm) {
  .odd-color-grid {
    height: 300px;
    width: 350px;
  }
}

.odd-color-game-over {
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}
