.odd-color-button {
  border-radius: 0;
}

.odd-color-grid {
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  height: 450px;
}

.odd-color-game-over {
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}
